<p id="notice"><%= notice %></p>

<p>
  <strong>Attack:</strong>
  <%= @quest.attack %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @quest.strength %>
</p>

<p>
  <strong>Defence:</strong>
  <%= @quest.defence %>
</p>

<p>
  <strong>Ranged:</strong>
  <%= @quest.ranged %>
</p>

<p>
  <strong>Prayer:</strong>
  <%= @quest.prayer %>
</p>

<p>
  <strong>Magic:</strong>
  <%= @quest.magic %>
</p>

<p>
  <strong>Runecrafting:</strong>
  <%= @quest.runecrafting %>
</p>

<p>
  <strong>Construction:</strong>
  <%= @quest.construction %>
</p>

<p>
  <strong>Hitpoints:</strong>
  <%= @quest.hitpoints %>
</p>

<p>
  <strong>Agility:</strong>
  <%= @quest.agility %>
</p>

<p>
  <strong>Herblore:</strong>
  <%= @quest.herblore %>
</p>

<p>
  <strong>Thieving:</strong>
  <%= @quest.thieving %>
</p>

<p>
  <strong>Crafting:</strong>
  <%= @quest.crafting %>
</p>

<p>
  <strong>Fletching:</strong>
  <%= @quest.fletching %>
</p>

<p>
  <strong>Slayer:</strong>
  <%= @quest.slayer %>
</p>

<p>
  <strong>Hunter:</strong>
  <%= @quest.hunter %>
</p>

<p>
  <strong>Mining:</strong>
  <%= @quest.mining %>
</p>

<p>
  <strong>Smithing:</strong>
  <%= @quest.smithing %>
</p>

<p>
  <strong>Fishing:</strong>
  <%= @quest.fishing %>
</p>

<p>
  <strong>Cooking:</strong>
  <%= @quest.cooking %>
</p>

<p>
  <strong>Firemaking:</strong>
  <%= @quest.firemaking %>
</p>

<p>
  <strong>Woodcutting:</strong>
  <%= @quest.woodcutting %>
</p>

<p>
  <strong>Farming:</strong>
  <%= @quest.farming %>
</p>

<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @quest.url %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
