<!DOCTYPE html>
<html>
<head>
  <title>Questscape</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav>
	<div class="container">
		<%= link_to 'View Quests', quests_path %>
		<%= link_to 'My Accounts', accounts_path %>
		<% if user_signed_in? %>
			  <%= link_to 'Edit Profile', edit_user_password_path(current_user) %>
			  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		<% else %>

			  <%= link_to 'Login', new_user_session_path, method: :get %>
			</p>
		<% end %>
	</div>
</nav>

<div class="container margin-md">
	<%= yield %>
</div>

</body>
</html>
